.settings-subtitle{
    color: white;
}

.number-input{
  -webkit-appearance: none; 
}

.unit{
    color: white;
}

#team-title{
    color: white;
    padding: 2rem 1rem 1rem 1rem;
    font-size: 2rem; 
    align-self: center;
}

#settings-title{
    color: white;
    padding: 3rem 1rem 2rem 1rem; 
}

#input{
    background-color: lightgray;

}

#addteam-container{
    margin-top: 2rem;
}

#submit-button{
    display: block;
    margin: 1.5rem auto;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .teamnames-container{
        padding: 0;
    }
}