.wrapper{
    min-height: 400px;
    min-width: 250px;
    max-width: 30em; 
    align-content: center;
}

.error{
    color: red;
    
}

.holder{
    border-radius: 25rem;
    background-color: white;
    padding: 30px 20px;
}