h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5rem; /*font size dynamic*/
    text-align: center;
    color: var(--grey);
    word-break: break-word;
}

h2{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter; 
    font-size: 1.5rem;
    text-align: center;
    color: white;
    word-break: break-word;
}

h3{
    word-break: break-word;
}

h4{
    word-break: break-word;
}

p{
    word-break: break-word;
}

.wrapper{
    min-height: 300px;
    min-width: 250px;
    max-width: 30em; 
    align-content: center;
    text-align: center;
}

.error{
    color: red;
}

.holder{
    border-radius: 25rem;
    background-color: white;
    padding: 1.25rem 2rem;
    min-width: 10rem;
    max-width: 30rem;
    text-align: center;
    margin: .5rem 0;
}

.scoreboard-text{
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 35;
    font-weight: lighter;
    overflow-wrap: break-word;
}

.turquoise-button{
    background-color: turquoise; 
    border: none;
    border-radius: 10px;
    color: gray;
}

.turquoise-button:hover{
    background-color: darkturquoise; 
}