:root{
    --grey: rgb(112,112,112);
}

/*background*/
body{
    background-color: var(--grey);
}

/* word*/
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.75rem;
    text-align: center;
    color: var(--grey);
}

/* it is now team _'s turn */
h2{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    text-align: center;
    color: white;
}

.wrapper{
    min-height: 400px;
    min-width: 250px;
    max-width: 350px; 
}

.card{
    min-height: 400px;
    min-width: 250px;
    max-width: 350px; 
}