:root{
    --grey: rgb(112,112,112);
}

/*background*/
body{
    background-color: gray;
}

.card{
    min-height: 400px;
    min-width: 250px;
    max-width: 350px; 
    box-shadow: 2em;
    padding: 1em;
}


.round {
    border-radius: 50%;
    padding: 15px; 
    margin-top: 25%; 
    
}

.round img{
    width: 50px;
    align-self: center;
}

.restricted li{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: gray;
    font-weight: lighter;
    font-size: 1.75em;
    list-style-type: none;
}

#end-game-button{
    margin: auto;
}