:root{
    --grey: rgb(112,112,112);
}

/*background*/
body{
    background-color: gray;
}

/* word*/
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5rem; /*font size dynamic*/
    text-align: center;
    color: var(--grey);
}

/* it is now team _'s turn */
h2{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter; 
    font-size: 1.5rem;
    text-align: center;
    color: white;
    
}
.card{
    min-height: 400px;
    min-width: 250px;
    max-width: 350px; 
    box-shadow: 2em;
    padding: 1em;
}


.round {
    border-radius: 50%;
    padding: 15px; 
    margin-top: 25%; 
    
}

.round img{
    width: 50px;
    align-self: center;
}

.restricted li{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: gray;
    font-weight: lighter;
    font-size: 1.75em;
    list-style-type: none;
}

#end-game-button{
    margin: auto;
}